<!DOCTYPE html>
<html>
<head>
  <title>Little Shop of Horros</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %>
</head>
<body id="store">
  <div id="banner">
    <%= @page_title || "Little Shop Of Horros" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="/">Home</a><br />
      <a href="/faq">Questions</a><br />
      <a href="/news">News</a><br />
      <a href="/contact">Contact</a><br />
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
